<p id="notice"><%= notice %></p>

<section>
  <div class="center">
    <div class="img_area">
      <%= image_tag("/images/notfound.jpg")%>
    </div>
    <%= form_for(@command, url: commands_send_command_path, remote: true) do |f| %>
      <%= f.hidden_field(:command) %>
      <%#= f.submit("foward", name: nil, disabled: true) %>
    <% end %>
    <button id="foward">foward</button>
    <button id="back">back</button>
    <button id="left">left</button>
    <button id="right">right</button>


    <%= link_to 'link', newest_images_path, :remote => true %>
  </div>
</section>

<table>
  <thead>
    <tr>
      <th>Command</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @commands.each do |command| %>
      <tr>
        <td><%= command.id %></td>
        <td><%= command.command %></td>
        <td><%= link_to 'Show', command %></td>
        <td><%= link_to 'Edit', edit_command_path(command) %></td>
        <td><%= link_to 'Destroy', command, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Command', new_command_path %>
