<p id="notice"><%= notice %></p>

<p>
  <strong>Img path:</strong>
  <%= @image.img_path %>
</p>

<!-- 追加箇所 開始 -->
<p>
  <strong>Image:</strong>
  <% if @image.image? %>
    <div class="thumbnail">
      <%= image_tag @image.image.url %>
    </div>
  <% end %>
</p>
<!-- 追加箇所 終了 -->
<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
